* {
    margin: 3px;
    padding: 2px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: hsla(46, 84%, 80%, 0.596);
}

.topo {
    margin-bottom: 10px;
}

.nome {
    width: 80%;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

.titulo {
    text-align: center;
    color: red;
    font-weight: bold;
}

.instrucoes {
    background: #ffffff;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th,
td  {

    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background: #ffffff;
    font-weight: bold;
}

.secao {
    background: #d9d9d9;
    font-weight: bold;
    padding: 8px;
}

.vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: red;
    font-weight: bold;
}

.soma {
    background: #b7f0a1;
    font-weight: bold;
}

input[type="radio"] {
    width: 18px;
    height: 18px;
}