* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgba(210, 241, 255, 0.849);

}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(104, 104, 104);
    padding: 30px;
}

.imagen {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 250px;

}

a {
    padding: 5px;
    border-radius: 5px;

}

a:hover {
    background-color: azure;
    transition: 0.9s;
    transform: translateY(-10px);
}

div {
    display: flex;
    flex-direction: column;
    background-color: rgb(104, 104, 104);
    padding: 120px;
    margin: 40px;
    border-radius: 10px;
    justify-items: center;
}
.divhead{
    padding: 4px;
}
h1 {
    align-self: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


button {
    padding: 3.5px;
    border-radius: 6px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
    background-color: rgb(120, 212, 212);
    transition: 0.4s;
}
input {
    text-align: center;
    margin: 3px;
    padding: 2.5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
main {
    display: flex;
    justify-content: space-evenly;
}